@model IEnumerable<WhatEatToday.Models.Shop>

    @{
        ViewBag.Title = "Welcom to What-Eat-Today";
        Layout = "~/Views/Shared/FoodBarIdex.cshtml";
    }
    <!doctype html>
    <html>
    <body>
        <br /><br />
        <!--================End Canvus Menu Area =================-->
        <!--================ Start banner section =================-->
        <section class="home_banner relative">
            <div class="container-fluid pl-0">
                <div class="row justify-content-center align-items-center full_height">
                    <div class="col-lg-6 p-0">
                        <div class="banner_left d-flex justify-content-center flex-column">
                            <h1>Delicious Meal</h1>
                            <p>
                                หิวแล้วใช่ไหม ? ค้นหาเมนูที่ใช่ร้านที่ชอบสำหรับคุณ
                            </p>
                            <a class="main_btn" href="~/Shops/FindShop/">Find Your Meal</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="banner_right d-flex justify-content-center align-items-center">
                            <div class="round-planet planet">
                                <div class="round-planet planet2">
                                    <div class="round-planet planet3">
                                        <div class="shape shape1"></div>
                                        <div class="shape shape2"></div>
                                        <div class="shape shape3"></div>
                                        <div class="shape shape4"></div>
                                        <div class="shape shape5"></div>
                                        <div class="shape shape6"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img class="face-img img-fluid" src="img/banner/home-banner.png" alt="">
        </section>
        <!--================ End banner section =================-->
        <!--================ Top Dish Area =================-->
        <section class="top_dish_area" >
            <div class="container" >
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main_title position-relative">
                            <h1>Our Top Shop</h1>
                            <hr>
                            <div class="round-planet planet" >
                                <div class="round-planet planet2" >
                                    <div class="shape shape1"></div>
                                    <div class="shape shape2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    @{
                        foreach (var shop in Model)
                        {
                            <div class="single_dish col-lg-4 col-md-6 text-center"  >
                                <div class="thumb">
                                    <img class="img-fluid" src="img/dish/d1.jpg" alt="">
                                </div>
                                <img src=@Url.Content("~/Content/images/" + (shop.pic)) style="width: auto;height: 200px" />
                                <h4>@Html.DisplayFor(modelItem => shop.name)</h4>
                                <p>
                                    ร้านประเภท @Html.DisplayFor(model => shop.type)
                                </p>
                                <a role="button" onclick="showMap(@Html.DisplayFor(modelItem => shop.latitude),@Html.DisplayFor(modelItem => shop.longitude),@Html.DisplayFor(modelItem => shop.shop_id))" class="btn btn-outline-info">ดูตำแหน่ง</a>
                            </div>
                        }
                    }

                </div>
            </div>
        </section>
        <!--================ End Top Dish Area =================-->
        <!--================ Menu Area =================-->
        <section class="menu_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main_title position-relative">
                            <h1>Our favourite Menu</h1>
                            <hr>
                            <div class="round-planet planet">
                                <div class="round-planet planet2">
                                    <div class="shape shape1"></div>
                                    <div class="shape shape2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row menu_inner">
                    <div class="col-md-12 col-lg-10 col-xl-6">
                        <div class="menu_list">
                            <ul class="list">
                                <li>
                                    <h4>
                                        Wonton with french fries
                                        <span>$5.00</span>
                                    </h4>
                                    <p>Wonthon/Potato/Fries/Sauce</p>
                                </li>
                                <li>
                                    <h4>
                                        Roasted Red Potatoes with Rosemary
                                        <span>$5.00</span>
                                    </h4>
                                    <p>Wonthon/Potato/Fries/Sauce</p>
                                </li>
                                <li>
                                    <h4>
                                        Bacon-Wrapped Shrimp with Garlic
                                        <span>$5.00</span>
                                    </h4>
                                    <p>Wonthon/Potato/Fries/Sauce</p>
                                </li>
                                <li>
                                    <h4>
                                        Apple Smoked Chicken with White Sauce
                                        <span>$5.00</span>
                                    </h4>
                                    <p>Wonthon/Potato/Fries/Sauce</p>
                                </li>
                                <li>
                                    <h4>
                                        Imported Oysters Grill (5 Pieces)
                                        <span>$5.00</span>
                                    </h4>
                                    <p>Wonthon/Potato/Fries/Sauce</p>
                                </li>
                                <li>
                                    <h4>
                                        Apple Smoked Chicken with White Sauce
                                        <span>$5.00</span>
                                    </h4>
                                    <p>Wonthon/Potato/Fries/Sauce</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-10 col-xl-6">
                        <div class="menu_list pr-0">
                            <ul class="list">
                                <li>
                                    <h4>
                                        Wonton with french fries
                                        <span>$5.00</span>
                                    </h4>
                                    <p>Wonthon/Potato/Fries/Sauce</p>
                                </li>
                                <li>
                                    <h4>
                                        Roasted Red Potatoes with Rosemary
                                        <span>$5.00</span>
                                    </h4>
                                    <p>Wonthon/Potato/Fries/Sauce</p>
                                </li>
                                <li>
                                    <h4>
                                        Bacon-Wrapped Shrimp with Garlic
                                        <span>$5.00</span>
                                    </h4>
                                    <p>Wonthon/Potato/Fries/Sauce</p>
                                </li>
                                <li>
                                    <h4>
                                        Apple Smoked Chicken with White Sauce
                                        <span>$5.00</span>
                                    </h4>
                                    <p>Wonthon/Potato/Fries/Sauce</p>
                                </li>
                                <li>
                                    <h4>
                                        Imported Oysters Grill (5 Pieces)
                                        <span>$5.00</span>
                                    </h4>
                                    <p>Wonthon/Potato/Fries/Sauce</p>
                                </li>
                                <li>
                                    <h4>
                                        Apple Smoked Chicken with White Sauce
                                        <span>$5.00</span>
                                    </h4>
                                    <p>Wonthon/Potato/Fries/Sauce</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Menu Area =================-->
        <!--================ Gallery Area =================-->
        <section class="gallery_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main_title position-relative">
                            <h1>foodbar galleries</h1>
                            <hr>
                            <div class="round-planet planet">
                                <div class="round-planet planet2">
                                    <div class="shape shape1"></div>
                                    <div class="shape shape2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="lightgallery">
                    <div class="col-lg-7 all-image" data-src="@Url.Content(" ~/Content/")img/gallery/g1.jpg">
                    <div class="single-gallery">
                        <div class="overlay"></div>
                        <img class="img-fluid w-100" src="@Url.Content(" ~/Content/")img/gallery/g1.jpg" alt="">
                        <div class="content">
                            <i class="lnr lnr-picture"></i>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 all-image" data-src="@Url.Content(" ~/Content/")img/gallery/g2.jpg">
                <div class="single-gallery">
                    <div class="overlay"></div>
                    <img class="img-fluid w-100" src="@Url.Content(" ~/Content/")img/gallery/g2.jpg" alt="">
                    <div class="content">
                        <i class="lnr lnr-picture"></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 all-image" data-src="@Url.Content(" ~/Content/")img/gallery/g3.jpg">
            <div class="single-gallery">
                <div class="overlay"></div>
                <img class="img-fluid w-100" src="@Url.Content(" ~/Content/")img/gallery/g3.jpg" alt="">
                <div class="content">
                    <i class="lnr lnr-picture"></i>
                </div>
            </div>
            </div>

            <div class="col-lg-4 all-image" data-src="@Url.Content(" ~/Content/")img/gallery/g4.jpg">
            <div class="single-gallery">
                <div class="overlay"></div>
                <img class="img-fluid w-100" src="@Url.Content(" ~/Content/")img/gallery/g4.jpg" alt="">
                <div class="content">
                    <i class="lnr lnr-picture"></i>
                </div>
            </div>
            </div>

            <div class="col-lg-4 all-image" data-src="@Url.Content(" ~/Content/")img/gallery/g5.jpg">
            <div class="single-gallery">
                <div class="overlay"></div>
                <img class="img-fluid w-100" src="@Url.Content(" ~/Content/")img/gallery/g5.jpg" alt="">
                <div class="content">
                    <i class="lnr lnr-picture"></i>
                </div>
            </div>
            </div>

            <div class="col-lg-5 all-image" data-src="@Url.Content(" ~/Content/")img/gallery/g6.jpg">
            <div class="single-gallery">
                <div class="overlay"></div>
                <img class="img-fluid w-100" src="@Url.Content(" ~/Content/")img/gallery/g6.jpg" alt="">
                <div class="content">
                    <i class="lnr lnr-picture"></i>
                </div>
            </div>
            </div>

            <div class="col-lg-7 all-image" data-src="@Url.Content(" ~/Content/")img/gallery/g7.jpg">
            <div class="single-gallery">
                <div class="overlay"></div>
                <img class="img-fluid w-100" src="@Url.Content(" ~/Content/")img/gallery/g7.jpg" alt="">
                <div class="content">
                    <i class="lnr lnr-picture"></i>
                </div>
            </div>
            </div>
            </div>
        </div>
    </section>

        <!-- Modal -->
        <div class="modal animated bounceIn" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="mapLabel">Maps</h5>
                        <button type="button" class="close bounceInDown" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="map" class="align-content-center"></div>
                    </div>
                    <div class="modal-footer">
                        @{ 
                            using (Html.BeginForm("Index", "CheckIn", null, FormMethod.Post, new { @class = "", role = "form" }))
                            {
                            <input type="hidden" name="shopid" id="checkin_id" value="" />
                            <i class="fa fa-map-pin"></i><input type="submit" class="form-control btn btn-warning" value="Checkin ร้านนี้"/>
                                }
                            }
                    </div>

                    </div>
            </div>
        </div>

</body>
    <!--================ End Gallery Area =================-->
    <!--================Member Area =================-->
    <div class="row" style="background-color:#EE7621">
        <div class="col-lg-12" style="color:white" style="background-color:#EE7621">
            <center>
                <br /><br />Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> What Eat Today |
                Webapplication 204359 &nbsp;&nbsp;<i class="fa fa-heart-o" aria-hidden="true"></i> <br /><br /><br />
            </center>
        </div>
    </div>
   
    <div class="row" style="background-color:#EE7621">
        <div class="col-lg-12" style="color:white" style="background-color:#EE7621">
            <center>
                <br /><br />Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> What Eat Today |
                Webapplication 204359 &nbsp;&nbsp;<i class="fa fa-heart-o" aria-hidden="true"></i> <br /><br /><br />
            </center>
        </div>
    </div>

</html>
