@model WhatEatToday.Models.Menu

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/FoodBarIdex.cshtml";
}



 
<section class="book_table_area section_gap">
    <div class="container">
        <div class="book_table_inner row">
            <div class="col-lg-5">
                    <div class="table_img">
                        <img src="@Url.Content("~/Content/")img/c.jpg" style="width:auto; height: 400px;" />
                    </div>
                </div>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <div class="col-lg-6">
                <div class="table_form">
                    <h3>Delete Menu</h3>
                    <form class="book_table_form row" action="#">
                        <div class="form-group col-md-12">
                            @Html.DisplayNameFor(model => model.menu_name)
                            @Html.DisplayFor(model => model.menu_name)
                        </div>
                        <div class="form-group col-md-12">
                            @Html.DisplayNameFor(model => model.comment)
                            @Html.DisplayFor(model => model.comment)
                        </div>
                        <div class="form-group col-md-12">
                            @Html.DisplayNameFor(model => model.Shop.name)
                            @Html.DisplayFor(model => model.Shop.name)
                        </div>                       
                                  
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-default" /> |
                                @Html.ActionLink("Back to List", "Index")
                            </div>
                        }
              
                </form>
            </div>
            </div>
        </div>
    </div>
</section>

<div class="row" style="background-color:#EE7621">
    <div class="col-lg-12" style="color:white" style="background-color:#EE7621">
        <center>
            <br /><br />Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> What Eat Today |
            Webapplication 204359 &nbsp;&nbsp;<i class="fa fa-heart-o" aria-hidden="true"></i> <br /><br /><br />
        </center>
    </div>
</div>

