@model WhatEatToday.Models.Menu

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/FoodBarIdex.cshtml";
}



 
<section class="book_table_area section_gap">
    <div class="container">
        <div class="book_table_inner row">
            <div class="col-lg-5">              
            </div>
            <div class="col-lg-7">
                <div class="table_form">
                    <h3>Delete Menu</h3>
                    <form class="book_table_form row" action="#">
                        <div class="form-group col-md-12">
                            @Html.DisplayNameFor(model => model.menu_name)
                            @Html.DisplayFor(model => model.menu_name)
                        </div>
                        <div class="form-group col-md-12">
                            @Html.DisplayNameFor(model => model.comment)
                            @Html.DisplayFor(model => model.comment)
                        </div>
                        <div class="form-group col-md-12">
                            @Html.DisplayNameFor(model => model.Shop.name)
                            @Html.DisplayFor(model => model.Shop.name)
                        </div>                       
                                  
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-default" /> |
                                @Html.ActionLink("Back to List", "Index")
                            </div>
                        }
              
                </form>
            </div>
            </div>
        </div>
    </div>
</section>

