@model WhatEatToday.Models.Menu

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/FoodBarIdex.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<section class="book_table_area section_gap">
    <div class="container">
        <div class="book_table_inner row">
            <div class="col-lg-5">
                <div class="table_img">
                    <img src="@Url.Content("~/Content/")img/c1.jpg" style="width:auto; height: 450px " />
                </div>
            </div>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <div class="col-lg-6">
                <div class="table_form">
                    <h3>Edit Menu</h3>
                    <form class="book_table_form row" action="#">
                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.shop_id, "shop_id", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.DropDownList("shop_id", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.shop_id, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.menu_name, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.menu_name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.menu_name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.comment, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.comment, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.comment, "", new { @class = "text-danger" })
                        </div>
                       
                        <div class="form-group col-md-12">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>