@model IEnumerable<WhatEatToday.Models.Menu>

@{
    ViewBag.Title = "GetMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetMenu</h2>

<p>
    <a role="button" href="~/Menus/Create/16" class="btn btn-info"/></a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.menu_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shop.name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.menu_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shop.name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.menu_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.menu_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.menu_id })
            </td>
        </tr>
    }

</table>
