@model WhatEatToday.Models.Shop

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Your Shop</h2>

@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "ของหวาน",
        Value = "Sweet",
        Selected = true
    });
    listItems.Add(new SelectListItem
    {
        Text = "อาหารตามสั่ง",
        Value = "Tamsang"
    });
    listItems.Add(new SelectListItem
    {
        Text = "ก๋วยเตี๋ยว",
        Value = "Noodel"
    });
    listItems.Add(new SelectListItem
    {
        Text = "เนื้อย่างเกาหลี",
        Value = "Nueyang"
    });
    listItems.Add(new SelectListItem
    {
        Text = "บุฟเฟ่ต์",
        Value = "Buffet"
    });
    listItems.Add(new SelectListItem
    {
        Text = "ก๋วยจั๊บ",
        Value = "Jub"
    });

}

@using (Html.BeginForm("Create", "Shops", FormMethod.Post, new
{
    enctype =
            "multipart/form-data"
}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Shop</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2", @values="ชื่อ" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.details, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.details, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.details, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.DropDownListFor(model => model.type, listItems, "New", htmlAttributes: new
          { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pic, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pic, new { htmlAttributes = new { @class = "form-control" , type="file"} })
                @Html.ValidationMessageFor(model => model.pic, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-2">
                <input type="button" class="btn btn-info" onclick="showAddMap()" value="Click for Edit Map" />
            </div>
            <div class="col-md-10">
                <div id="map">

                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.latitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.latitude, new { htmlAttributes = new { @class = "form-control" ,@id = "latInsert"} })
                @Html.ValidationMessageFor(model => model.latitude, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.longitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.longitude, new { htmlAttributes = new { @class = "form-control" ,@id = "lngInsert"} })
                @Html.ValidationMessageFor(model => model.longitude, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div class="row" style="background-color:#FF9933">
    <div class="col-md-3">
        <center>
            <h2>Home</h2>
            <center><a href="~/Home"><img src="~/Content/menu1.png" width="300px" class="animated bounceIn"></a></center>
        </center>
    </div>
    <div class="col-md-3">
        <center>
            <h2>Find Shop</h2>
            <center><a href="~/Shops/FindShop"><img src="~/Content/menu2.png" width="300px" class="animated bounceIn"></a></center>
        </center>
    </div>
    <div class="col-md-3">
        <center>
            <h2>Games</h2>
            <center><a href="~/Game/Index"><img src="~/Content/menu3.png" width="300px" class="animated bounceIn"></a></center>
        </center>
    </div>
    <div class="col-md-3">
        <center>
            <h2>Favorit</h2>
            <center><a href="~/Home"><img src="~/Content/menu4.png" width="300px" class="animated bounceIn"></a></center>
        </center>
    </div>
</div>
<div>
    @Html.ActionLink("Back to Shop", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
