@model WhatEatToday.Models.Shop

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/FoodBarIdex.cshtml";
}

<section class="book_table_area section_gap">
    <div class="container">
        <div class="book_table_inner row">
            <div class="col-lg-5">
                <div class="table_img">
                    <img src=@Url.Content("~/Content/images/"+@Html.DisplayFor(model => model.pic)) style="width:auto; height: 300px " />
                </div>
            </div>
            <div class="col-lg-7">
                <div class="table_form">
                    <h3>Delete Shop</h3>
                    <form class="book_table_form row" action="#">
                        <div class="form-group col-md-12">
                            @Html.DisplayNameFor(model => model.name)
                            @Html.DisplayFor(model => model.name)
                        </div>
                        <div class="form-group col-md-12">
                            @Html.DisplayNameFor(model => model.details)
                            @Html.DisplayFor(model => model.details)
                        </div>
                        <div class="form-group col-md-12">
                            @Html.DisplayNameFor(model => model.type)
                            @Html.DisplayFor(model => model.type)
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-10">
                                <div id="map">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            @Html.DisplayNameFor(model => model.latitude)
                            @Html.DisplayFor(model => model.latitude)
                        </div>
                        <div class="form-group col-md-12">
                            @Html.DisplayNameFor(model => model.longitude)
                            @Html.DisplayFor(model => model.longitude)
                        </div>

                        @using (Html.BeginForm())
                        {

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-default" /> |
                                @Html.ActionLink("Back to List", "Index")
                            </div>
                        }

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
