@model WhatEatToday.Models.Shop

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Shop</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longitude)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.shop_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<div class="row" style="background-color:#FF9933">
    <div class="col-md-3">
        <center>
            <h2>Home</h2>
            <center><a href="~/Home"><img src="~/Content/menu1.png" width="300px" class="animated bounceIn"></a></center>
        </center>
    </div>
    <div class="col-md-3">
        <center>
            <h2>Find Shop</h2>
            <center><a href="~/Shops/FindShop"><img src="~/Content/menu2.png" width="300px" class="animated bounceIn"></a></center>
        </center>
    </div>
    <div class="col-md-3">
        <center>
            <h2>Games</h2>
            <center><a href="~/Home"><img src="~/Content/menu3.png" width="300px" class="animated bounceIn"></a></center>
        </center>
    </div>
    <div class="col-md-3">
        <center>
            <h2>Favorit</h2>
            <center><a href="~/Home"><img src="~/Content/menu4.png" width="300px" class="animated bounceIn"></a></center>
        </center>
    </div>
</div>
<div>
