@model WhatEatToday.Models.Shop

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/FoodBarIdex.cshtml";
}

@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "ของหวาน",
        Value = "Sweet",
        Selected = true
    });
    listItems.Add(new SelectListItem
    {
        Text = "อาหารตามสั่ง",
        Value = "Tamsang"
    });
    listItems.Add(new SelectListItem
    {
        Text = "ก๋วยเตี๋ยว",
        Value = "Noodel"
    });
    listItems.Add(new SelectListItem
    {
        Text = "เนื้อย่างเกาหลี",
        Value = "Nueyang"
    });
    listItems.Add(new SelectListItem
    {
        Text = "บุฟเฟ่ต์",
        Value = "Buffet"
    });
    listItems.Add(new SelectListItem
    {
        Text = "ก๋วยจั๊บ",
        Value = "Jub"
    });

}

@using (Html.BeginForm("Edit", "Shops", FormMethod.Post, new
{
    enctype = "multipart/form-data"
}))
{
    <section class="book_table_area section_gap">
        <div class="container">
            <div class="book_table_inner row">
                <div class="col-lg-5">
                    <div class="table_img">
                        <img src="@Url.Content("~/Content/")img/menu.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="table_form">
                        <h3>Edit Shop</h3>
                        <form class="book_table_form row" action="#">
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2", @values = "ชื่อ" })
                                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.details, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.details, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.details, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.type, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.DropDownListFor(model => model.type, listItems, htmlAttributes: new
                           {
                               @class = "form-control"
                           })
                            </div>
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.pic, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.pic, new { htmlAttributes = new { @class = "form-control", type = "file" } })
                                @Html.ValidationMessageFor(model => model.pic, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-12">
                                <input type="button" class="btn btn-warning" onclick="showAddMap()" value="Click for Edit Map" /><br /><br />
                                <div class="col-md-10">
                                    <div id="map">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.latitude, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.latitude, new { htmlAttributes = new { @class = "form-control", @id = "latInsert" } })
                                @Html.ValidationMessageFor(model => model.latitude, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.longitude, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.longitude, new { htmlAttributes = new { @class = "form-control", @id = "lngInsert" } })
                                @Html.ValidationMessageFor(model => model.longitude, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-12">
                                <input type="submit" value="Save" class="btn submit_btn form-control" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

