@using WhatEatToday.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/FoodBarIdex.cshtml";
}

<!--================ Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h1>Login</h1>
                <div class="page_link">
                    <a href="~/Home/Index">Home</a>
                    <a href="~/Account/Login">Login</a>
                </div>
            </div>
        </div>
        <div class="shape shape1"></div>
        <div class="shape shape2"></div>
        <div class="shape shape3"></div>
        <div class="shape shape4"></div>
        <div class="shape shape5"></div>
        <div class="shape shape6"></div>
        <div class="shape shape7"></div>
    </div>
</section>
<!--================End Banner Area =================-->

<section class="contact_area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-md-6">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <h5> @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" }) </h5>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <h5> @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" }) </h5>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group text-left">
                            <input type="submit" value="Log in" class="btn submit_btn" />
                        </div>
                    </div>
                        <div class="form-group text-right">
                            <input type="submit" value="Log in with Facebook" class="btn submit_btn" />
                        </div>
                }
            </div>
        </div>
    </div>
</section>

<footer class="footer-area p_120">
    <div class="container">
        <div class="row footer-bottom d-flex justify-content-between align-items-center">
            <p class="col-lg-8 col-md-8 footer-text m-0">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> What Eat Today | Webapplication 204359 <i class="fa fa-heart-o" aria-hidden="true"></i>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </div>
</footer>
