@using WhatEatToday.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/FoodBarIdex.cshtml";
}
@Styles.Render("~/Content/animate.css")

<br /><br />
<!--================ Banner Area =================-->
<section class="banner_area animated bounceIn">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h1 style="color:darkorange">Login</h1>
                <div class="page_link">
                   
                </div>
            </div>
        </div>
        <div class="shape shape1"></div>
        <div class="shape shape2"></div>
        <div class="shape shape3"></div>
        <div class="shape shape4"></div>
        <div class="shape shape5"></div>
        <div class="shape shape6"></div>
        <div class="shape shape7"></div>
    </div>
</section>
<!--================End Banner Area =================-->

<section class="contact_area p_120 animated bounceInRight" >
    <div class="container">
        <div class="row">
            <div class="col-lg-9">

                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-md-6">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <h5> @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" }) </h5>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <h5> @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" }) </h5>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group text-left">
                            <input type="submit" value="Log in" class="btn submit_btn" style="background-color:darkorange" />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="submit" value="Log in with Facebook" class="btn submit_btn btn-lg" style="background-color:blue" />
                        </div>

                    </div>
               

                                }

                            </div>
                        </div>
                    </div>

</section>



