<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - What Eat Today</title>
    <link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/animate.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-3.3.1.js")
    @Scripts.Render("~/Content/js/chart.js")
    @Scripts.Render("~/Content/js/WhatEatToday.js")
</head>
<style>
        #map {
            height: 400px;
            width: 400px;
            align-self: center;
        }
</style>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGQSBUZg2rVkQOPy-gPA9SHLRf3Z1P4Xw&callback=initMap">
</script>
<body>
    <nav class="animated fadeInDown navbar navbar-expand-md navbar-dark fixed-top justify-content-between" style="background-color:#8B4513">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbartop" aria-controls="navbartop" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @Html.ActionLink("What Eat Today", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <div class="navbar-collapse collapse" id="navbartop" style="background-color:#8B4513">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
                @{ 
                    var s = Session["userpriv"];
                    @Html.Display(s.ToString())
                }
                @if (Session["userpriv"].Equals("ร้านค้า"))
                {

                    <li class="nav-item">@Html.ActionLink("Add Shop", "Create", "Shops", null, new { @class = "nav-link" })</li>

                }else
                {

                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <main role="main" class="container">
        <div class="container body-content" style="background-color:#FFDAB9">
            <br />
            <br />
            @RenderBody()
            <hr />
        </div>
    </main>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
